<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot with Logo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">

</head>
<body>
    <div class="history-container">
        <div class="profile-img-container">
            <img id="profile-image" src="{{ session.get('profile_image') or url_for('static', filename='images/user.png') }}" alt="Profile Image" class="profile-img">
            <h3 id="username-display">Username</h3>
        </div>

        <h2> CHAT HISTORY</h2>
        <div id="history-box" class="history-box"></div>

        <div class="logout-box">
            <form action="{{ url_for('logout') }}" method="GET">
                <button type="submit" id="logout-btn"><i class="material-icons">exit_to_app</i> Logout</button>
            </form>
            </div>
            
            
         
    </div>



    <div class="chat-container">
        
        
        <button id="clear-chat-btn" class="btn btn-warning">
            <span class="new-chat">
                <i class="material-icons">chat</i>
                <span class="tooltip-text">New Chat</span>
            </span>
        </button>   
        
        <div class="chat-header" id="chat-header">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
            <h1>OptiAnswer</h1>

        </div>

        <div class="chat-box" id="chat-box">
            
        </div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your message..." />
            <button id="send-btn"> <span class="material-icons">send</span></button>
            
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>
